<!DOCTYPE html>
<html>
<head>
    <% include ../static/partials/head.ejs %>
</head>
<body>
    <% include ../static/partials/navbar.ejs %>
    <main class="container">
        <% include ../static/partials/messages.ejs %>
        <h2 class="page-header"><%- wiki.title %></h2>
        <% if(wiki.private) { %>
        <% if(currentUser.isPremium() || currentUser.isAdmin()) { %>
        <a href="/wikis/<%= wiki.id %>/edit" class="btn btn-warning">Edit Wiki</a>
        <% } %>
        <% } else { %>
        <a href="/wikis/<%= wiki.id %>/edit" class="btn btn-warning">Edit Wiki</a>
        <% } %>
        <% if(currentUser) { %>
        <form style="display:initial" action="/wikis/<%= wiki.id %>/destroy" method="post">
            <button type="submit" class="btn btn-danger">Delete wiki</button>
        </form>
        <% } %>
        <% if(wiki.private) { %>
            <a href="/wikis/<%= wiki.id %>/collaborators" class="btn btn-info">Edit Collaborators</a>
        <% } %>
        <p>
            <%- wiki.body %>
        </p>
    </main>
    <% include ../static/partials/baseScripts.ejs %>
</body>