<!DOCTYPE html>
<html>
<head>
    <% include ../static/partials/head.ejs %>
</head>
<body>
    <% include ../static/partials/navbar.ejs %>
    <main class="container">
        <% include ../static/partials/messages.ejs %>
        <h1>
            Hello <%= `${currentUser.name}!` %>
        </h1>
        <h3>
            <%= `Your email: ${currentUser.email}` %>
        </h3>
        <h3>
            <%= `Your current role: ${currentUser.role}` %>
        </h3>
        <h4>
            <%= `Profile created at ${currentUser.createdAt}`%>
        </h4>
        <hr>
        <% if(currentUser && currentUser.role == "standard") { %>
        <h2>Join Rockipedia as a premium member.</h2>
        <p>Create private wikis and collaborate with other premium members.<p>
        <form action="/users/<%=currentUser.id%>/upgrade" method="POST">
<script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="pk_test_fW76ZgiGxe40bb71ZXlUuOmr"
                data-amount="1500" data-name="Stripe.com" data-description="Example Premium Membership Charge"
                data-image="https://stripe.com/img/documentation/checkout/marketplace.png" data-locale="auto">
            </script>
        </form>
        <% } else { %>
        <% if(currentUser.role == "premium"); { %>
        <h2>Need to Downgrade?</h2>
        <p> We'd hate to see you go!</p>
        <form action="/users/<%=currentUser.id%>/downgrade" method="POST">
            <button type="submit" class="btn btn-danger">Downgrade your membership</button>
        </form>
        <% } %>
        <% } %>
    </main>
    <% include ../static/partials/baseScripts.ejs %>
</body>
</html>